<?php
/**
 *  This file is part of geezmo-core.
 *  
 *  geezmo-core is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *  
 *  geezmo-core is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License
 *  along with geezmo-core.  If not, see <http://www.gnu.org/licenses/>.
 *
 * @author Filippo Baruffaldi <filippo@baruffaldi.info>
 * @copyright geezmo-kit
 * @package geezmo
 * @subpackage core
 */

$format = Zend_Registry::getInstance()->config['application']['format'];

$o = 'Ooops, an error is occurred! please retry later.';

if ( ! Zend_Registry::get( 'environment' )->isPro ) 
    $o .= "\n\n"
       .  "Message:\n" . $this->exception->getMessage( ) . "\n\n"
       .  "Stack Trace:\n[[[start[\n"
       .  $this->exception->getTraceAsString( ) . "\n]end]]]\n\n"
       .  "Params:\n[[[start[\n" . Zend_Debug::dump( $this->request->getParams( ), 'Params', false )
       .  "\n]end]]]";

switch ( $format )
{
	case 'html':
	case 'xhtml':
        $o = '<html><body><p style="font-weight: bold;">Ooops, an error is occurred! please retry later.</p>'
           . str_replace( array( '[[[start[', ']end]]]', "\n" ), 
                          array( '<pre>', '</pre>', '<br />' ),
                          $o )
           . '</body></html>';
		break;
	
	case 'xml':
        $o = '<?xml version="1.0" ?><error>'
           . str_replace( array( '[[[start[', ']end]]]', 'Ooops', 
                                 'Stack Trace:', 'Params:' ), 
                          array( '<stacktrace>', '</stacktrace>', '<text>Ooops', 
                                 '</text>', null ), 
                          html_entity_decode( $o ) )
           . '</error>';
		break;
}

print <<<ERROR
$o
ERROR;

unset( $format, $o );
