<?php
/**
 *  This file is part of geezmo-core.
 *  
 *  geezmo-core is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *  
 *  geezmo-core is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License
 *  along with geezmo-core.  If not, see <http://www.gnu.org/licenses/>.
 *
 * @author Filippo Baruffaldi <filippo@baruffaldi.info>
 * @copyright geezmo-kit
 * @package geezmo
 * @subpackage core
 */

$format = Zend_Registry::getInstance()->config['application']['format'];

if ( ! file_exists( $this->iniFile ) && ! file_exists( $this->xmlFile ) ) 
     switch ( $format )
     {
          case 'text':
               print <<<EOH
The configuration file does not exists!
EOH;
          	   return;
               break;
          
          case 'html':
          case 'xhtml':
               print <<<EOH
<div id="errors_box">The configuration file does not exists!</div>
EOH;
               return;
          break;
	
          case 'xml':
               print <<<EOH
<error>The configuration file does not exists!</error>
EOH;
               return;
          break;
     }

switch ( $format )
{
	case 'text':
		print file_get_contents( $this->iniFile );
	     break;
	
	case 'html':
	case 'xhtml':
          print <<<EOH
<div id="results_box">
EOH;
		print str_replace( "\n", "<br />", 
		      str_replace( " ", "&nbsp;", 
		            htmlentities( file_get_contents( $this->xmlFile ) ) ) );
          print <<<EOH
</div>
EOH;
	     break;
	
	case 'xml':
		print file_get_contents( $this->xmlFile );
          break;
}