<?php
/**
 *  This file is part of geezmo-core.
 *  
 *  geezmo-core is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *  
 *  geezmo-core is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License
 *  along with geezmo-core.  If not, see <http://www.gnu.org/licenses/>.
 *
 * @author Filippo Baruffaldi <filippo@baruffaldi.info>
 * @copyright geezmo-kit
 * @package geezmo
 * @subpackage core
 */

$format = Zend_Registry::getInstance()->config['application']['format'];

if ( empty( $this->results ) ) 
     switch ( $format )
     {
          case 'text':
               print <<<EOH
No option specified!
EOH;
          	   return;
               break;
          
          case 'html':
          case 'xhtml':
               print <<<EOH
<div id="errors_box">No option specified!</div>
EOH;
               return;
               break;
	
          case 'xml':
               print <<<EOH
<error>No options specified!</error>
EOH;
               return;
               break;
     }

switch ( $format )
{
	case 'html':
	case 'xhtml':
		print <<<EOH
<div id="results_box">
EOH;
	
	break;
	
	case 'xml':
		print <<<EOH
<results>
EOH;
	
	break;
}

foreach ( $this->results as $option => $value )
{
     switch ( $format )
     {
          case 'html':
          case 'xhtml':
               print <<<EOH
<p>
EOH;
     
               break;
               
          case 'xml':
               print <<<EOH
<result>
EOH;
     
               break;
     }

     switch ( $value['result'] )
     {
          case true:
               print <<<EOH
Option $option has been set to '{$value['value']}'
EOH;
               break;
               
          case '-1':
               print <<<EOH
The configuration folder does not exists on filesystem or is not accessible.
EOH;
               break;

          case '-2':
               print <<<EOH
Check the configuration folder permissions on filesystem because results not readable.
EOH;
               break;
             
          case '-3':
               print <<<EOH
Check the configuration folder permissions on filesystem because results not writable.
EOH;
               break;
             
          case '-4':
               print <<<EOH
Check if parameter: $option is correctly typed because results not present on application.ini configuration file.
EOH;
               break;
               
          default:
          case false:
               print <<<EOH
Not enough parameters specified!
EOH;
               break;
     }
     
     switch ( $format )
     {
          case 'html':
          case 'xhtml':
               print <<<EOH
</p>
EOH;
     
               break;
               
          case 'xml':
               print <<<EOH
</result>
EOH;
     
               break;
     }
}
     
switch ( $format )
{
	case 'html':
	case 'xhtml':
		print <<<EOH
</div>
EOH;
	
	break;
	
	case 'xml':
		print <<<EOH
</results>
EOH;
	
	break;
}
