<?php
/**
 *  This file is part of geezmo-core.
 *  
 *  geezmo-core is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *  
 *  geezmo-core is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License
 *  along with geezmo-core.  If not, see <http://www.gnu.org/licenses/>.
 *
 * @author Filippo Baruffaldi <filippo@baruffaldi.info>
 * @copyright geezmo-kit
 * @package geezmo
 * @subpackage core
 */

$format = ( Zend_Registry::getInstance()->config['application']['format'] == 'html' )
        ? 'xhtml' : Zend_Registry::getInstance()->config['application']['format'];

$helperPath = Zend_Registry::getInstance()->environment['path']['layoutHelper'];
$charset    = Zend_Registry::getInstance()->config['application']['charset'];
$response   = Zend_Registry::get( 'Zend_Controller_Front' )->getResponse();

if ( empty( $_SERVER['TERM'] ) )
	switch ( $format )
	{
		case 'xml':
			$response->setHeader( 'Content-Type', "application/xml; charset=$charset", true );
			break;
			
		case 'json':
			$response->setHeader( 'Content-Type', "application/json; charset=$charset", true );
			break;
			
		case 'text':
		case 'serialized':
			$response->setHeader( 'Content-Type', "text/plain; charset=$charset", true );
			break;
	}

if ( file_exists( "{$helperPath}header.$format.phtml" ) )
     require_once "{$helperPath}header.$format.phtml";

if ( ! is_null( $this->layout()->header ) )
     print $this->layout()->header;

if ( $format == 'html' || $format == 'xhtml' )
     print <<<EOH
     </head>
     <body>
EOH;

if ( ! is_null( $this->layout()->nav ) )
     print $this->layout()->nav;

switch ( $format )
{
	default:
	case 'xml':
		print $this->layout()->content;
		break;

	case 'json':
		print Zend_Json::encode( $this->layout()->content );
		break;

	case 'text':
		print str_replace( "<br />", "\n", strip_tags( $this->layout()->content ) );
		break;

	case 'serialized':
		print serialize( str_replace( "\n", '\n', strip_tags( $this->layout()->content ) ) );
		break;
}

if ( ! is_null( $this->layout()->sidebar ) )
     print $this->layout()->sidebar;

if ( ! is_null( $this->layout()->footer ) )
     print $this->layout()->footer;

if ( file_exists( "{$helperPath}footer.$format.phtml" ) )
     require_once "{$helperPath}footer.$format.phtml";

unset( $helperPath, $format );
