<?php
/**
 *  This file is part of geezmo-core.
 *  
 *  geezmo-core is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 2 of the License, or
 *  (at your option) any later version.
 *  
 *  geezmo-core is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License
 *  along with geezmo-core.  If not, see <http://www.gnu.org/licenses/>.
 *
 * @author Filippo Baruffaldi <filippo@baruffaldi.info>
 * @copyright geezmo-kit
 * @package geezmo
 * @subpackage core
 */

$request = Zend_Registry::get( 'Zend_Controller_Front' )->getRequest( );
$charset = Zend_Registry::getInstance( )->config['application']['charset'];
$lgShort = Zend_Registry::getInstance( )->config['application']['languageShort'];
$lgLong  = Zend_Registry::getInstance( )->config['application']['languageLong'];

print <<<HEADER
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" xml:lang="$lgShort" lang="$lgLong">
	<head profile="http://gmpg.org/xfn/11">
	
HEADER;

// *** TITLE
// *********
print $this->headTitle( Zend_Registry::getInstance( )->config['application']['name'] )
           ->headTitle( ' ( ' . str_replace( '-', ' ', $request->getActionName( ) ) . ' )' );

// *** META TAGS
// *************
if ( ! empty( Zend_Registry::getInstance( )->config['application']['googleVId'] ) )
      $this->headMeta()->appendName( 'verify-v1', Zend_Registry::getInstance( )->config['application']['googleVId'] );
    
if ( ! empty( Zend_Registry::getInstance( )->config['application']['msliveVId'] ) )
      $this->headMeta()->appendName( 'msvalidate.01', Zend_Registry::getInstance( )->config['application']['msliveVId'] );

print $this->headMeta()->appendName( 'generator',     __GENERATOR__ )
                       ->appendName( 'portal',        Zend_Registry::getInstance( )->config['application']['id'] . ' ' . Zend_Registry::getInstance( )->config['application']['version'] )
                       ->appendName( 'vendor',        'Coolminds Community' )
                       ->appendName( 'author',        'filippo@baruffaldi.info' )
                       ->appendName( 'admin',         Zend_Registry::getInstance( )->config['application']['admin'] )
                       ->appendName( 'language',      $lgShort )
                       /*->appendName( 'description',   Zend_Registry::getInstance( )->config['html']']['site']['description . '. ' . 
                                                      $_SITE['seo']['handler']->descriptions->{$request->controller}->{$request->getActionName( )}, 
                                                      array( 'lang' => Zend_Registry::getInstance( )->environment['language']['short'] ) )
                                                      
                       ->appendName( 'keywords',      Zend_Registry::getInstance( )->config['html']->site->keywords . ',' . 
                                                      $_SITE['seo']['handler']->keywords->{$request->controller}->{$request->getActionName( )} . $moreKeys, 
                                                      array( 'lang' => Zend_Registry::getInstance( )->environment['language']['short'] ) )
                                                      
                       ->appendName( 'robots',        Zend_Registry::getInstance( )->config['html']->site->robots )
                       ->appendName( 'revisit-after', Zend_Registry::getInstance( )->config['html']->site->revisit )*/
                       
                       ->appendHttpEquiv( 'Content-Type',     "text/html; charset=$charset" )
                       ->appendHttpEquiv( 'Content-Language', $lgLong );

unset( $request, $lgFull, $lgShort, $charset );
