<?php
/**
 *  This file is part of geezmo-core.
 *  
 *  geezmo-core is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 2 of the License, or
 *  (at your option) any later version.
 *  
 *  geezmo-core is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License
 *  along with geezmo-core.  If not, see <http://www.gnu.org/licenses/>.
 *
 * @author Filippo Baruffaldi <filippo@baruffaldi.info>
 * @copyright geezmo-kit
 * @package geezmo
 * @subpackage core
 */

$request    = Zend_Registry::get( 'Zend_Controller_Front' )->getRequest( );

$module     = $request->getModuleName( );
$controller = $request->controller;
$action     = $request->getActionName( );

$appId      = Zend_Registry::getInstance( )->config['application']['id'];
$appName    = Zend_Registry::getInstance( )->config['application']['name'];
$appVersion = Zend_Registry::getInstance( )->config['application']['version'];
$appAdmin   = Zend_Registry::getInstance( )->config['application']['admin'];

$charset    = Zend_Registry::getInstance( )->config['application']['charset'];
$lgShort    = Zend_Registry::getInstance( )->config['application']['languageShort'];
$lgLong     = Zend_Registry::getInstance( )->config['application']['languageLong'];

$generator  = __GENERATOR__;

print <<<HEADER
<application generator='$generator'>
	<header>
		<id><![CDATA[$appId]]></id>
		<name><![CDATA[$appName]]></name>
		<version>$appVersion</version>
		<language>
			<short>$lgShort</short>
			<long>$lgLong</long>
		</language>
		<charset>$charset</charset>
		<admin><![CDATA[$appAdmin]]></admin>
	</header>
	<request>
		<module><![CDATA[$module]]></module>
		<controller><![CDATA[$controller]]></controller>
		<action><![CDATA[$action]]></action>
	</request>
	<content>
	
HEADER;

unset( $request, $lgFull, $lgShort, $charset, $appId, $appAdmin, $appName, $appVersion, $generator, $module, $controller, $action );
