<?php
/**
 *  This file is part of geezmo-core.
 *  
 *  geezmo-core is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *  
 *  geezmo-core is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License
 *  along with geezmo-core.  If not, see <http://www.gnu.org/licenses/>.
 *
 * @author Filippo Baruffaldi <filippo@baruffaldi.info>
 * @copyright geezmo-kit
 * @package geezmo
 * @subpackage core
 */

$format = Zend_Registry::getInstance()->config['application']['format'];

switch ( $format )
{
	default:
	case 'text':		
		print <<<EOH
Geezmo-core has been installed$this->alternateText!
Go on {$this->request->getBaseUrl()}$this->link to switch layout
EOH;

		break;
		
	case 'html':
	case 'xhtml':
		print <<<EOH
Geezmo-core has been installed$this->alternateText!<br />
<a href='{$this->request->getBaseUrl()}$this->link' title='Click here to switch layout'>Go on {$this->request->getBaseUrl()}$this->link to switch layout</a>
EOH;

		break;
		
	case 'xml':
		print <<<EOH
<text>Geezmo-core has been installed$this->alternateText!</text>
<link href='{$this->request->getBaseUrl()}$this->link'>Go on {$this->request->getBaseUrl()}$this->link to switch layout</link>
EOH;

		break;
}
